<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">Developer Connector</h1>
      <p class="lead">
        Create a developer profile/portfolio, share posts and get help from
        other developers
      </p>
      <div class="buttons">

        <a class="dropdown-item" [routerLink]="['register']" class="btn btn-primary">Sign up</a>

        <a class="dropdown-item" [routerLink]="['login']" class="btn btn-light">login</a>
      </div>
    </div>
  </div>
</section>
